<div id="design" lab="0" initlab="0">
	<div class="design group web_design_main" id="web_design_main">
		<div id="public_set">
			<div class="modulebox ui-sortable-none box_webset" id="com_9">


				<div id="webset_com_9" data-themetype="color" data-charskin="char01">
					<link rel="stylesheet" type="text/css" href="http://css.j-cc.cn/css/wapskin/offside/main.css">
					<link rel="stylesheet" type="text/css" href="http://css.j-cc.cn/css/wapskin/offside/004.css">
					<style>#design .multilingualArea .member_but{ display: none; }
					#design .multilingualArea .cart_but{ display: none; }
					.edit #design_edu_main > div:nth-child(2) > .btn-toolbar{ top: -26px;}



					#wel_pg{background-size: cover;max-width:720px;width:100%;height: 100%;position: fixed;z-index: 500;cursor: pointer;}
					#design_main{display: block !important;}
					</style>
				</div>


				<script>
                    if($("body").hasClass("editChar")){
                        $("body").removeClass("editChar");
                    }
				</script>
			</div>
		</div>
		<div id="webLoading" class="loading"></div>
		<div id="Web_show_logo">
			<div class="modulebox ui-sortable-none box_logo" id="com_2">
				<div id="logo_com_2">
					<div class="style_view" id="style_view_com_2">
						<style>#logo_com_2 .webHeader {background-color:rgba(0,68,158,1);}
						#logo_com_2 .webHeader {background-image:none;}
						</style>
					</div>
					<style type="text/css">

					</style>
					<div class="webHeaderBox" id="webHeaderBox">
						<div class="navButton" id="navButton">
							<div class="navButtonPanel"></div>
							<div class="menuNav">
								<div class="menuNavTip icon-menuNavTip iyong-icons" onclick="wapUtil.setShowMenu();"></div>
							</div>
						</div>
						<div class="webHeader webHeaderBg" id="webHeader">
							<div class="header" id="header">
    <span class="webLogo" style="">
     <div class="logoImg logoStyleImg3" id="webLogoImg" style="background-image: url('http://koss.iyong.com/swift/v1/iyong_public/iyong_2631626088743488/image/20180428/1524906950361060943.jpg');" data-logo="//koss.iyong.com/swift/v1/iyong_public/iyong_2631626088743488/image/20180428/1524906950361060943.jpg"></div> </span>
								<span class="webTitle" id="webTitle">汉荣机械设备(东莞)有限公司</span>
							</div>
						</div>
					</div>
				</div>
				<script>
                    require(["public/wapUtil"],function(){
                        wapUtil.setLogo("com_2");
                    })
				</script>
			</div>
		</div>
		<div id="Web_show_menu">
			<div id="mob_nav_mask" class="mob_nav_mask"></div>
			<div class="modulebox ui-sortable-none box_menu" id="com_1">
				<style>#com_1{};
				#menu_com_1{};
				</style>

				<div class="style_view"><style> </style></div>
				<div class="view" id="menu_com_1">
					<div id="navbar" class="navbar scrollbar scrollbar">
						<div id="navbarList" class="navbarList swiper-container scrollbar">
							<ul class="">
								<li class="navItem  icon-navItem "><a href="index.html" data-cname="index.html" ><span class="navItemName">首页</span></a></li>

								<li class="navItem  icon-navItem "><a href="page-id=55.html" data-cname="page.html?id=7" ><span class="navItemName">关于我们</span></a></li>

								<li class="navItem  icon-navItem "><a href="product.html" data-cname="product.html" ><span class="navItemName">产品中心</span></a></li>

								<li class="navItem  icon-navItem "><a href="page-id=65.html" data-cname="page.html?id=52" ><span class="navItemName">技术专题</span></a></li>

								<li class="navItem  icon-navItem "><a href="news-newsTypeID=2673016343659392.html" data-cname="news.html" ><span class="navItemName">新闻资讯</span></a></li>

								<li class="navItem  icon-navItem "><a href="page-id=53.html" data-cname="page.html?id=53" ><span class="navItemName">人才招聘</span></a></li>

								<li class="navItem  icon-navItem "><a href="page-id=2.html" data-cname="page.html?id=2" ><span class="navItemName">联系我们</span></a></li>

							</ul>
						</div>
						<script>
                            console.log("color");
						</script>
					</div>
				</div>
			</div>
		</div>
		<div class="design_con scrollbar" id="design_main">
			<div id="design_edu_main" class="group webAnimation">
				<div id="member_lan">
					<div class="modulebox ui-sortable-none box_member" id="com_7">
						<div class="style_view"><style> </style></div>
						<div class="multilingualArea">
							<a href="login.html" class="member_but mulIcon-login"><span class="iyong-icons mulIcon"></span><span class="mulName">登录</span></a>
							<a href="register.html" class="member_but mulIcon-reg"><span class="iyong-icons mulIcon"></span><span class="mulName">注册</span></a>
							<a href="login-urlType=member-ordercart.html" class="cart_but mulIcon-cart"><span class="iyong-icons mulIcon"></span><span class="mulName">购物车</span></a>
						</div>
						<a href="#" class="language localerPanel_2"><p>中文</p><span class="national cn"></span></a>
						<script>
                            function cancelOver(){
                                $("#webLanguage").removeClass("open");
                            }
                            $(function(){
                                var first='';
                                var lHtml="";
                                first='<li class="localerPanel_2"><a href="javascript:void(0)" onclick="cancelOver();"><p>中文</p><span class="national cn"></span></a></li>';
                                lHtml+='<li class="localerPanel_2"><a href="/en/index.html"><p>English</p><span class="national en"></span></a></li>';
                                function temp(event){
                                    if($("#webLanguage").hasClass('open')){
                                        $("#webLanguage").removeClass('open');
                                        $("#webLanguage #webLanguage_c").html("");
                                    }else{
                                        $("#webLanguage #webLanguage_c").html("<ul></ul>");
                                        $("#webLanguage #webLanguage_c ul").append(lHtml).prepend(first);
                                        $("#webLanguage").addClass('open');
                                    }
                                }
                                $(".language").bind("click",temp);
                                $("#webLanguage").click(function(){
                                    $("#webLanguage").removeClass("open");
                                });
                                $("#webLanguage").on("touchmove",function(){
                                    $("#webLanguage").removeClass('open');
                                });
                            })
						</script>
					</div>
				</div>