{template "content","top"}
                    <div class="modulebox box_carousel" id="com_302">
                        <style type="text/css">#com_302 .swiper-container_com_302{
                            position: relative;
                        }
                        </style>
                        <div class="view imageText" id="carousel_com_302">
                            <!--标题栏部分-->
                            <div class="style_viw" id="style_viw_com_302">
                                <style> </style>
                            </div>
                            <div class="skin_nav_view" id="skin_nav_com_302">
                                <div class="skin_title skin_hide">
                                    <h4 class="skin_t_h4">轮播多图</h4>
                                    <span class="skin_t_icon"></span>
                                    <span class="skin_t_line"></span>
                                </div>
                            </div>
                            <!--引入的文件-->
                            <script type="text/javascript">
                                require(["css!photoswipe3/photoswipe.css"]);
                            </script>
                            <div class=" slideBox_com_302 skin_model_view has_size_com_302">
                                <!--轮播主体-->
                                <div class="swiper-container  swiper-container_com_302 swiper-container-horizontal" id="swiper_carousel_com_302" style="cursor: -webkit-grab;">
                                    <ul class="swiper-wrapper my-gallery" data-pswp-uid="com_302" style="transform: translate3d(-1224px, 0px, 0px); transition-duration: 500ms;">
                                        <li class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1" style="width: 378px; margin-right: 30px;"> <a target="" data-photo="com_302" href="#" class=""> <img src="http://koss.iyong.com/swift/v1/iyong_public/iyong_2631626088743488/image/20180510/1525918849168037711.jpg" data-num="1">
                                            <!--图片描述--> </a> </li>
                                        <li class="swiper-slide" data-swiper-slide-index="0" style="width: 378px; margin-right: 30px;"> <a target="" data-photo="com_302" href="#" class=""> <img src="http://koss.iyong.com/swift/v1/iyong_public/iyong_2631626088743488/image/20180510/1525918848702033998.jpg" data-num="0">
                                            <!--图片描述--> </a> </li>
                                        <li class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 378px; margin-right: 30px;"> <a target="" data-photo="com_302" href="#" class=""> <img src="http://koss.iyong.com/swift/v1/iyong_public/iyong_2631626088743488/image/20180510/1525918849168037711.jpg" data-num="1">
                                            <!--图片描述--> </a> </li>
                                        <li class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 378px; margin-right: 30px;"> <a target="" data-photo="com_302" href="#" class=""> <img src="http://koss.iyong.com/swift/v1/iyong_public/iyong_2631626088743488/image/20180510/1525918848702033998.jpg" data-num="0">
                                            <!--图片描述--> </a> </li>
                                    </ul>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination swiper-p1 swiper-pagination-clickable swiper-pagination-bullets" style="display: none;">
                                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                                        <span class="swiper-pagination-bullet"></span>
                                    </div>
                                    <div class="swiper-button-prev swiper-button-prev1" style="display: block;"></div>
                                    <div class="swiper-button-next swiper-button-next1" style="display: block;"></div>
                                </div>
                            </div>
                        </div>
                        <script>
                            var autoTime =4000;
                            speed = 500;

                            /*展示样式的设置       展示样式1(下标点):*/

                            wapUtil.swiperCorousel("com_302",autoTime,speed);

                            /*展示样式的设置     展示样式2(箭头):*/

                            /*幻灯片的实现:*/

                        </script>
                    </div>

                    <div class="modulebox box_cubeNav" id="com_303">
                        <div class="view" id="cubeNav_com_303">
                            <!--装载样式div-->
                            <div class="style_view" id="style_view_com_303">
                                <style> </style>
                            </div>
                            <!--标题栏-->
                            <div class="skin_nav_view" id="skin_nav_com_303">
                                <div class="skin_title skin_hide">
                                    <h4 class="skin_t_h4">魔方导航</h4>
                                    <span class="skin_t_icon"></span>
                                    <span class="skin_t_line"></span>
                                </div>
                            </div>
                            <!--主体内容-->
                            <div class="skin_model_view clearfix" style="padding: 0;">
                                <div class="cubeNavigationBox pd">
                                    <div class="cubeLink_6" id="link1">
                                        <a class="cubeLink_a  action_jump" href="/index.php?m=content&c=index&a=lists&catid=48" target="_self">
                                            <div class="cubeLink_bg" style="background-color: ;background-image: url();"></div>
                                            <div class="cubeLink_curtain"></div>
                                            <div class="cubeLink_ico kenfor-icons-contact1" style="color: ;background-image: url();"></div>
                                            <div class="cubeLink_text" style="">
                                                <div class="cubeLink_text_p" style="color: ;font-size: ;font-weight: ;">
                                                    关于我们
                                                    <p class="cubeLink_subText_p" style="color: ;font-size: ;font-weight: ;"> </p>
                                                </div>
                                            </div> </a>
                                    </div>
                                    <div class="cubeLink_6" id="link2">
                                        <a class="cubeLink_a  action_jump" href="/index.php?m=content&c=index&a=lists&catid=61" target="_self">
                                            <div class="cubeLink_bg" style="background-color: ;background-image: url();"></div>
                                            <div class="cubeLink_curtain"></div>
                                            <div class="cubeLink_ico kenfor-icons-mail2" style="color: ;background-image: url();"></div>
                                            <div class="cubeLink_text" style="">
                                                <div class="cubeLink_text_p" style="color: ;font-size: ;font-weight: ;">
                                                    产品展示
                                                    <p class="cubeLink_subText_p" style="color: ;font-size: ;font-weight: ;"> </p>
                                                </div>
                                            </div> </a>
                                    </div>
                                    <div class="cubeLink_6" id="link3">
                                        <a class="cubeLink_a  action_jump" href="/index.php?m=content&c=index&a=lists&catid=58" target="_self">
                                            <div class="cubeLink_bg" style="background-color: ;background-image: url();"></div>
                                            <div class="cubeLink_curtain"></div>
                                            <div class="cubeLink_ico kenfor-icons-file4" style="color: ;background-image: url();"></div>
                                            <div class="cubeLink_text" style="">
                                                <div class="cubeLink_text_p" style="color: ;font-size: ;font-weight: ;">
                                                    技术支持
                                                    <p class="cubeLink_subText_p" style="color: ;font-size: ;font-weight: ;"> </p>
                                                </div>
                                            </div> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            /*根据不同个数来动态设置宽度*/
                            var cubeTempType = "6",
                                totalCubeTemp = $("#cubeNav_com_303 .cubeNavigationBox > div").size(),
                                cubeLastDiv = $("#cubeNav_com_303 .cubeNavigationBox > div:last");
                            wapUtil.setWidth(cubeTempType,totalCubeTemp,cubeLastDiv);
                        </script>
                    </div>

                    <div class="modulebox box_title" id="com_304">
                        <div class="view titleModule" id="title_com_304">
                            <div class="style_view" id="style_view_com_304">
                                <style>#title_com_304 .mainTitleCls {font-size:18px;}
                                #title_com_304 .mainTitleCls {font-weight:bold;}
                                #title_com_304 .mainTitleCls {color:#0046a1;}
                                #title_com_304 .mainTitleCls {padding-left:px;padding-top:px;padding-right:px;padding-bottom:px;}
                                </style>
                            </div>
                            <div class="title_wrap title_type_004">
                                <div class="title_wrap_inner ">
                                    <h5 class="title_h5 mainTitleCls">产品展示</h5>
                                    <span class="title_icon"> <i class=""></i> </span>
                                    <span class="title_line"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modulebox box_products" id="com_305">

                        <style>#com_305{};
                        #products_com_305{};
                        </style>
                        <div class="view" id="products_com_305">
                            <div class="style_view"><style> </style></div>
                            <div class="skin_nav_view" id="skin_nav_com_305">
                                <div class="skin_title skin_hide">
                                    <h4 class="skin_t_h4">产品展示</h4>
                                    <span class="skin_t_icon"></span>
                                    <span class="skin_t_line"></span>
                                </div>
                            </div>
                            <div class="skin_model_view products_com_305_view">
                                <div class="list_pro productsStyle1 clearfix" id="proList_com_305">
                                    {pc:content action="category" catid="61" num="10" siteid="1" order="listorder ASC"}
                                    {loop $data $r}
                                    {pc:content action="lists" catid="$r[catid]" num="10" order="listorder ASC"}
                                    {loop $data $rr}
                                    <ul >
                                        <a href="{$rr[url]}" class="clearfix">
                                            <li class="img">
                                                <div><img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2P4zwAAAgEBAOIxSPwAAAAASUVORK5CYII=" data-src="{$rr[thumb]}" alt="{$rr[title]}"></div>
                                            </li>
                                            <li class="info">
                                                <span class="name name1 ">{$rr[title]}</span>
                                            </li>
                                        </a>
                                    </ul>
                                    {/loop}
                                    {/pc}
                                    {/loop}
                                    {/pc}

                                </div>
                            </div>

                            <script>
                                var modelstyle="1";
                                var productStyle="0";
                                var picWidth="1";
                                var picHeight="1";
                                var mdId="com_305";
                                wapUtil.productShow(modelstyle,productStyle,picWidth,picHeight,mdId);
                            </script>
                        </div>



                    </div>
                    <div class="modulebox box_title" id="com_307">
                        <div class="view titleModule" id="title_com_307">
                            <div class="style_view" id="style_view_com_307">
                                <style>#title_com_307 .mainTitleCls {font-size:18px;}
                                #title_com_307 .mainTitleCls {font-weight:bold;}
                                #title_com_307 .mainTitleCls {color:#00449e;}
                                #title_com_307 .mainTitleCls {padding-left:px;padding-top:px;padding-right:px;padding-bottom:px;}
                                </style>
                            </div>
                            <div class="title_wrap title_type_004">
                                <div class="title_wrap_inner ">
                                    <h5 class="title_h5 mainTitleCls">关于我们</h5>
                                    <span class="title_icon"> <i class=""></i> </span>
                                    <span class="title_line"></span>
                                </div>
                            </div>
                        </div>
                    </div>
{pc:get sql="SELECT c.thumb,cd.content,cd.company_image FROM yibo_about_cn c LEFT JOIN yibo_about_cn_data cd ON c.id = cd.id WHERE c.id = 1" cache="3600" page="$page" return="data_ext"}
{loop $data_ext $key $val}
{php $aboutus_thumb = $val['thumb']}
{php $aboutus_content = str_cut(strip_tags($val['content']), 600, '...')}
{php $au_images=json_decode($val['company_image'], true)}
{/loop}
{/pc}
                    <div class="modulebox box_imageText" id="com_308">
                        <div class="view imageText" id="imageText_com_308">
                            <div class="style_view" id="style_view_com_308">
                                <style>#imageText_com_308 {background-image:url("/statics/yibo/m/aboutus_bg.jpg");}
                                #imageText_com_308 {background-size:cover;}
                                </style>
                            </div>
                            <div class="skin_nav_view" id="skin_nav_com_308">
                                <div class="skin_title skin_hide">
                                    <h4 class="skin_t_h4">图文展示</h4>
                                    <span class="skin_t_icon"></span>
                                    <span class="skin_t_line"></span>
                                </div>
                            </div>
                            <div class="skin_model_view clearfix">
                                <!-- 图片居左 -->
                                <a href="/index.php?m=content&c=index&a=lists&catid=48" target="_self" class="action_jump"><img src="{$aboutus_thumb}" class="imageText_pic" style="float:left;margin-right: 10px; margin-bottom: 10px; width:50%; height:"></a>
                                <p style="line-height: 1.5;"><span style="font-size: 16px; font-family: 微软雅黑; color: rgb(255, 255, 255);">{php echo $aboutus_content}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="modulebox box_title" id="com_310">
                        <div class="view titleModule" id="title_com_310">
                            <div class="style_view" id="style_view_com_310">
                                <style>#title_com_310 .mainTitleCls {font-size:18px;}
                                #title_com_310 .mainTitleCls {font-weight:bold;}
                                #title_com_310 .mainTitleCls {color:#004099;}
                                #title_com_310 .mainTitleCls {padding-left:px;padding-top:px;padding-right:px;padding-bottom:px;}
                                </style>
                            </div>
                            <div class="title_wrap title_type_004">
                                <div class="title_wrap_inner ">
                                    <h5 class="title_h5 mainTitleCls">应用领域</h5>
                                    <span class="title_icon"> <i class=""></i> </span>
                                    <span class="title_line"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modulebox box_listPhoto" id="com_311">
                        <div class="view listPhoto" id="listPhoto_com_311">
                            <div class="style_view" id="style_view_com_311">
                                <style> </style>
                            </div>
                            <div class="skin_nav_view" id="skin_nav_com_311">
                                <div class="skin_title skin_hide">
                                    <h4 class="skin_t_h4">列表多图</h4>
                                    <span class="skin_t_icon"></span>
                                    <span class="skin_t_line"></span>
                                </div>
                            </div>
                            <div class="skin_model_view clearfix">
                                <div class="listPhotoBox swiper-container_list swiper-container-horizontal">
                                    <div id="listPhotoBox_com_311" class="listPhotoMarquee swiper-container-horizontal" style="cursor: -webkit-grab;">
                                        <ul class="listPhotoContainer1 swiper-wrapper" id="picList_com_311">
                                            {php $aaaa=0}
                                            {pc:content action="category" catid="52" num="25" siteid="1" order="listorder ASC"}
                                            {loop $data $r}
                                            <li class="photoListDiv1 swiper-slide swiper-slide-active" style="margin-right: 10px;">
                                                <a hidefocus="true" href="{$r[url]}" class="action_jump">
                                                    <div class="listPhotoClass">
                                                        <img data-num="{$aaaa}" class="imgName" src="{$r[image]}">
                                                    </div>
                                                </a>
                                            </li>
                                            {php $aaaa++}
                                            {/loop}
                                            {/pc}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <script>
                                require(["css!photoswipe3/photoswipe.css"]);
                                require(["css!csspath/css/swiper.min.css"]);
                                var mdId="com_311";
                                var picOutMode="0";
                                var value="";
                                var imgSizeMode="0";
                                var picWidth="1";
                                var picHeight="1";
                                var aotuPlayMode="1";
                                var playDir="left";
                                var playSpeed="normal";
                                wapUtil.listPhotoSwipe(mdId,picOutMode,value,imgSizeMode,picWidth,picHeight,aotuPlayMode,playDir,playSpeed);
                            </script>
                        </div>
                    </div>
                    <div class="modulebox box_title" id="com_312">
                        <div class="view titleModule" id="title_com_312">
                            <div class="style_view" id="style_view_com_312">
                                <style>#title_com_312 .mainTitleCls {font-size:18px;}
                                #title_com_312 .mainTitleCls {font-weight:bold;}
                                #title_com_312 .mainTitleCls {color:#003e94;}
                                #title_com_312 .mainTitleCls {padding-left:px;padding-top:px;padding-right:px;padding-bottom:px;}
                                </style>
                            </div>
                            <div class="title_wrap title_type_004">
                                <div class="title_wrap_inner ">
                                    <h5 class="title_h5 mainTitleCls">新闻资讯</h5>
                                    <span class="title_icon"> <i class=""></i> </span>
                                    <span class="title_line"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modulebox box_articleList" id="com_313">
                        <style>#com_313{};
                        #articleList_com_313{};
                        </style>
                        <div class="view" id="articleList_com_313">
                            <div class="style_view"><style> </style></div>
                            <div class="skin_nav_view" id="skin_nav_com_313">
                                <div class="skin_title skin_hide">
                                    <h4 class="skin_t_h4">文章列表</h4>
                                    <span class="skin_t_icon"></span>
                                    <span class="skin_t_line"></span>
                                </div>
                            </div>
                            <div class="skin_model_view">
                                <script>
                                    require(["css!csspath/css/swiper.min.css"]);
                                </script>
                                <div class="listArticle " id="swiper-container_com_313">
                                    <div id="article_list_com_313" class="default clearfix ">
                                        {pc:content action="category" catid="51" num="25" siteid="1" order="listorder ASC"}
                                        {loop $data $r}
                                        <ul class="">
                                            <a href="{$r[url]}" target="_self" class="clearfix">
                                                <li class="list">
                                                    <dd class="ellipsis title">
                                                        <span class="arttitle">{$r[title]}</span>
                                                    </dd>
                                                    <time>
                                                        <font>{date('Y-m-d',$r[inputtime])}</font>
                                                    </time>
                                                </li>
                                            </a>
                                        </ul>
                                        {/loop}
                                        {/pc}
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
{template "content","footer"}
